<p>
  Congratulations!
</p>
<p>
  Welcome to <%= @store.name %>!  You've just been given access to our wide selection of products at
  great prices.
</p>

<p>
  <a href="<%= root_url %>">Visit the Store</a> when you're ready!
</p>
