<table class="row header">
  <tr>
    <td>
      <p class="lede">
        <%= Spree.t('order_mailer.overdue_canceled_email.dear_customer') %>
      </p>
      <p>
        <%= Spree.t('order_mailer.overdue_canceled_email.body', number: @order.number, deadline: @deadline) %>
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
