<p>
  Thank you!
</p>
<p>
  We've just given you a <%= number_to_currency @store_credit.amount %> gift card in appreciation for your referral!
</p>

<p>
  Please <a href="<%= root_url %>">Visit the Store</a> when you're ready to use it on your next order.<br>
  You will be able to apply it at the last step during checkout.
</p>
