  <h2>E-Mail Preferences</h2>
  <p>
    Once every couple of weeks we send out a mailing to tell you about our promotions.<br>
    We send these emails out to people who have previously signed up on one of our sites.
  </p>

  <% if @mailing_recipient.opted_in %>
      <%= link_to "Stop sending me promotions!", opt_out_mailing_recipient_path(@mailing_recipient.id), class: "btn btn-danger" %>
  <% else %>
      <%= link_to "I've changed my mind, send me your promotions", opt_in_mailing_recipient_path(@mailing_recipient.id), class: "btn btn-success" %>
  <% end %>


